#wrapper
  #container
    = form_tag '/', :remote => true do 
      = text_field_tag 'url', '', :id =>'url', :placeholder => 'Enter URL'
      = number_field_tag 'depth', '', :id => 'depth', :placeholder => '1'
      #submit= submit_tag 'The Matrix!', :class => 'submit'

  #images 

