%h1 Get Your Matrix On!!
#container
  = form_tag '/', :remote => true do
    = text_field_tag 'url', 'http://www.zachwoomer.com', :id =>'url', :placeholder => 'Enter URL'
    = number_field_tag 'depth', '1', :id => 'depth'
    #submit= submit_tag 'The Matrix!', :class => 'submit'

#images